---
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
<body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>
  <h1>我的Astro学习博客</h1>
  <p>随着教程不断深入，我会将我更多的obsidian笔记发布在这里。</p>
  <p>也许有一天，我真的能成为一名出色的高级前端工程师呢</p>
</body>
</html>